.wrapper {
    margin: 0 auto;
    /*width: 100%;*/
    max-width: 1140px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
}



.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    background: #2aa15f;
    box-shadow: 0 7px 25px black;
   
}

.col-left,
.col-right {
    padding: 30px;
    display: flex;
}

.col-left {
    width: 50%;
    clip-path: polygon (00, 0% 100%, 100% 0);
    background: #2aa15f;
}

.col-right {
    padding: 60px 110px;
    width: 50%;
    margin-left: -10%;
}

.login-text {
    position: relative;
    width: 100%;
    color: #ffffff;

}
.Music_controls{
    width: 10rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 52px;
    align-items: center;


}
.Music_controls .main_button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Music_controls .fa-play:hover{
    background-color: #f529ee8e;
    color: #111;
    box-shadow: 0 1rem 2rem 0.2rem rgb(0, 0, 0,0.4);
}